extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main.hn-content__wrap 
        .hn-content
            .hn-content-header
                img(width="210", height="81", src="assets/images/logo_Euro2020.png").hn-content-header__img
            
            .hn-content-body 
                img(width="83", height="79", src="assets/images/gif.png").hn-content-body__img-ball
                .hn-content-body__text Загружаем материалы дополненной реальности...

            .hn-content-footer
                img(width="169", height="31",src="assets/images/Loadingscreen.svg").hn-content-header__img

        